In [ ]:
# data types 
# strings 'hello '
# int   1 2 3 -1  -2
# floats 4.5 1.7 -1.2

In [1]:
# strings
string_1 = 'Hello '
string_2 = 'Mehul'

print(string_1)

Hello

In [2]:
# string concatenation
string_3 = string_1 + string_2
print(string_3)

Hello Mehul

In [3]:
# string replication
string_4 = 'Hello'*5
print(string_4)

HelloHelloHelloHelloHello

In [4]:
len(string_4)

25

In [7]:
# string slicing
string_5 =string_4[0:5: 2]
print(string_5)

Hlo

In [13]:
string_5[-2]

'l'

In [14]:
# int
a = 2
b = '2'

print(type(a))
print(type(b))

<class 'int'>
<class 'str'>

In [15]:
x = 4
y = 3

In [16]:
# math operators
print(x**y) ---> exponent operator

64

In [18]:
# modulus operator
print(10%4)

2

In [19]:
print(x/y) ---> division

print(x//y) ----> integer division

1.3333333333333333
1

In [20]:
print(x*y)

12

In [21]:
print(x-y)
print(x+y)

1
7

In [22]:
# input function
name = input('Please enter your name: ')
print('Your name is: ', name)

Please enter your name: Mehul
Your name is:  Mehul

In [28]:
x = int(input('Please enter your age: '))
print('Your age is: ', x )

Please enter your age: 10
Your age is:  10

In [29]:
type(x)

int

In [30]:
#type casting

x = 25
print(type(x))

x = str(x)
print(type(x))

<class 'int'>
<class 'str'>

In [33]:
# booleans

a = 2<3
print(a)
type(a)

True

bool

In [34]:
# functions

def myFunction():
  print('hello')
  print('user')






  

myFunction()

hello
user

In [35]:
myFunction()

hello
user

In [36]:
def add(x, y, z):
  result = x+y+z
  return result

c = add(1,2,3)
print(c)

6

In [37]:
# list
x = 'apple'
y = 'mango'
z = ' orange'

fruits = ['apple', 'mango', 'orange']
print(fruits)

['apple', 'mango', 'orange']

In [41]:
fruits[0]= 'grapes'
print(fruits)

['grapes', 'mango', 'orange']

In [47]:
fruits.append(1, 'apple')
fruits

TypeError: ignored

In [43]:
fruits.insert(2, 'kiwi')
fruits

['grapes', 'mango', 'kiwi', 'orange', 'apple']

In [45]:
fruits.pop(1)
print(fruits)

['grapes', 'kiwi', 'orange']

In [46]:
del fruits[0]
fruits

['kiwi', 'orange']

In [48]:
nested_list = 0[[1,2,3], 
              1 [4,5,6]]
                 0 1 2

In [49]:
nested_list[1][1]

5

In [50]:
l = [5,2,7,1,10]
l.sort()
l

[1, 2, 5, 7, 10]

In [53]:
# list slicing

l[0:3:2]

[1, 5]

In [57]:
# list comprehension
 
l = [x**2 for x in range(1,11) if x%2==0]
l

[4, 16, 36, 64, 100]

In [63]:
# loop through a list
sum1 =0 
for ele in l:
  sum1 = sum1+ele

print(sum1)

220

In [64]:
#tuple
my_tuple = (1,2,3,4)
print(my_tuple)

(1, 2, 3, 4)

In [65]:
my_tuple[0]=0

TypeError: ignored

In [66]:
my_tuple = list(my_tuple)
my_tuple[0]=0
print(my_tuple)

[0, 2, 3, 4]

In [68]:
# set
l= [1,11,1,2,3,2]
print(l)

s = {1,11,1,2,3,2}
s

[1, 11, 1, 2, 3, 2]

{1, 2, 3, 11}

In [69]:
s[0]

TypeError: ignored

In [70]:
# dictionary
car = {
    'brand': 'Honda',
    'model': 'Civic',
    'year': 2000
}

In [72]:
car['model']

'Civic'

In [73]:
car['year']=2010
car

{'brand': 'Honda', 'model': 'Civic', 'year': 2010}

In [74]:
car.keys()

dict_keys(['brand', 'model', 'year'])

In [75]:
car.values()

dict_values(['Honda', 'Civic', 2010])

In [76]:
car.items()

dict_items([('brand', 'Honda'), ('model', 'Civic'), ('year', 2010)])

In [77]:
for key, value in car.items():
  print(key, ': ', value)

brand :  Honda
model :  Civic
year :  2010

In [82]:
for xyz in car.values():
  print(xyz)

Honda
Civic
2010

In [83]:
#conditional statements
a = 1
b = 2

if a>b:
  print('a is greater')
elif a==b:
  print('both are equal')
else:
  print('b is greater')

b is greater

In [84]:
x = 10
y= 20
z = 30

if x==y and x==z and y==z:
  print('all are equal')
elif x>y and x>z:
  print('x is greatest')
elif y>x and y>z:
  print('y is greatest')
else:
  print('z is greatest')

z is greatest

In [87]:
# loops

for i in range(1, 11):
  if i%2==0:
    print(i)

2
4
6
8
10

In [88]:
i =0
while(i<10):
  print(i)
  i+=1
  # i = i +1
  # i-=1
  # i= i-1
  # i--
  # i++

0
1
2
3
4
5
6
7
8
9

In [93]:
class vehicle:
  def __init__(self, brand, model, year):
    self.brand = brand
    self.model = model
    self.year = year

  def brake(self):
    print('applying brake')


car1 = vehicle('honda', 'civic', '2020')
car1.year
car1.brake()

applying brake

In [95]:
# filter
ages = [1,5,9, 17, 69, 23]

def myFunc(x):
  if x<18:
    return False
  else:
    return True

adults = filter(myFunc, ages)
list(adults)

[69, 23]

In [98]:
# map
def my_func(x):
  return x**2
l = [1,2,3,4,5,6]
# l_1 = map(lambda x: x**2,l )
l_1 = map(my_func,l )

print(list(l_1))

[1, 4, 9, 16, 25, 36]